body {
    position: relative;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: rgba(239, 208, 53, 0.26);
    color: deeppink;
}

a, a:hover {
    color: deeppink;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 100vh;
}

#home-link {
    text-decoration: none;
    color: inherit;
}

.sidebar-sticky {
    width: 100%;
}

.nav-link {
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
}

.section {
    margin: 5px;
    min-width: auto;
    min-height: auto;
}

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 768px) {
    .sections {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .sidebar-sticky {
        position: fixed;
        top: 3rem;
        left: 3rem;
    }

    .site-heading {
        margin-bottom: 1rem;
    }
}

ol {
  list-style: none;
  counter-reset: ol-counter;
  padding: 0;
}
ol li {
  counter-increment: ol-counter;
  padding-left: 2rem;
}
ol li::before {
  content: counter(ol-counter) ". ";
  font-weight: bold;
  margin-left: -2rem;
  padding-right: 1rem;
}

.menu-nav {
    text-decoration: none !important;
    padding-right: 1rem;
}

.modal-dialog {
  max-width: 90%;
  max-height: 90vh;
  margin: 5vh auto;
  padding: 0;
}

.section-card {
    display: flex;
    justify-content: space-around;
    transition: transform .2s;
}

a .section-card:hover {
    transform: scale(1.1);
}

.section-text {
    font-size: 18px;
    font-weight: 100;
}

.section-title-overlay {
    position: absolute;
}

.section-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.dropdown-item {
    color: inherit;
}
