<nav class="col-md-2 sidebar navbar navbar-expand-lg navbar-light pb-4" id="home-nav">
  <div class="sidebar-sticky">
    <h3 class="site-heading" style="position: relative">
      <a href="/" id="home-link">
        ANNA <br>
        MATHILDE
      </a>
    </h3>
    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{{ url_for('contact') }}" class="nav-link nav-section py-0 pl-0" style="white-space: pre-line; color: inherit;">
              Contact
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>