{% extends "base.html" %}

{% block content %}
  {% if about.show_home_image == "on" %}
    <div class="hero row px-3 active">
      <div class="col-md-12 px-0 pb-5 text-center">
        <img src="{{ url_for('static', filename='images/home.jpg') }}"
             style="max-height: 80vh; max-width: 100%;">
      </div>
    </div>
  {% endif %}
  <div class="row px-3 active" id="section-web-home">
    <div class="col-md-12 px-0 pb-5 text-center">
      {{ about.heading|safe }}
    </div>
    <div class="col-md-12 px-0 pb-5 text-center">
      {{ about.text|safe }}
    </div>
  </div>

  <div class="row px-3 sections">
    <div class="section-col">
      {% for section in db %}
        {% if loop.index % 2 == 0 %}
          <div class="section row px-3" id="section-{{ section.id }}">
            <div class="tab-content w-100">
              <a href="{{ url_for('display_section', section_id=section.id) }}">
                <div class="section-card">
                  <div class="section-title-overlay m-2">
                    <h4>{{ section.name }}</h4>
                  </div>
                  <img class="section-img"#}
                       src="{{ url_for('static', filename='images/uploads/' + section.image_url) }}">
                </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="section-col">
      {% for section in db %}
        {% if loop.index % 2 == 1 %}
          <div class="section row px-3" id="section-{{ section.id }}">
            <div class="tab-content w-100">
              <a href="{{ url_for('display_section', section_id=section.id) }}">
                <div class="section-card">
                  <div class="section-title-overlay m-2">
                    <h3>{{ section.name }}</h3>
                  </div>
                  <img class="section-img"#}
                       src="{{ url_for('static', filename='images/uploads/' + section.image_url) }}">
                </div>
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}